<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">About Me</h1>
  <p class="lead">My name is Jack Grier. I am a full stack Software Developer from Ireland, my day to day entails the
    development of Angular and Java web applications in the financial industry.</p>
</div>
<div *ngFor="let panel of panels">
  <app-content-panel
    [panelName]="panel.name"
    [panelContent]="panel.content"
    [panelTitle]="panel.title"
    [panelClass]="panel.class"
  ></app-content-panel>
</div>
